
*.dll
*.pdb
Psy.Extensions.Test/bin/Debug/Psy.Extensions.Test.exe
Psy.Extensions.Test/bin/Debug/Psy.Extensions.Test.exe.config
Psy.Extensions.Test/bin/Debug/Psy.Extensions.Test.vshost.exe
Psy.Extensions.Test/bin/Debug/Psy.Extensions.Test.vshost.exe.config
Psy.Extensions.Test/bin/Debug/Psy.Extensions.Test.vshost.exe.manifest
Psy.Extensions.Test/bin/Debug/UnitSet.xml
Psy.Extensions.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Psy.Extensions.Test/obj/Debug/Psy.Extensions.Test.csproj.FileListAbsolute.txt
Psy.Extensions.Test/obj/Debug/Psy.Extensions.Test.csprojResolveAssemblyReference.cache
Psy.Extensions.Test/obj/Debug/Psy.Extensions.Test.exe
Psy.Extensions.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Psy.Extensions.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Psy.Extensions.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.suo
Psy.Extensions/bin/debug/UnitSet.xml
Psy.Extensions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Psy.Extensions/obj/Debug/Psy.Extensions.csproj.FileListAbsolute.txt
